In [2]:
# Es 1
import pandas as pd

df = pd.DataFrame({'X':[78,85,96,80,86], 'Y': [84,94,89,83,86], 'Z': [86,97,96,72,83]})
print(df)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

In [37]:
# Es 2
import pandas as pd
import numpy as np

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = range(1,11)
    

df = pd.DataFrame(exam_data , index=labels)
print(df)

         name  score  attempts qualify
1   Anastasia   12.5         1     yes
2        Dima    9.0         3      no
3   Katherine   16.5         2     yes
4       James    NaN         3      no
5       Emily    9.0         2      no
6     Michael   20.0         3     yes
7     Matthew   14.5         1     yes
8       Laura    NaN         1      no
9       Kevin    8.0         2      no
10      Jonas   19.0         1     yes

In [47]:
# Es 3
import pandas as pd 
import numpy as np

df = pd.DataFrame(exam_data, index= labels)
print('basic information datas:')
print(df.info())

basic information datas:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 1 to 10
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 452.0+ bytes
None

In [54]:
# Es 4:
import pandas as pd
import numpy as np

df = pd.DataFrame(exam_data , index=labels)
print('First three rows of the data frame:')
print(df.iloc[2:6])

First three rows of the data frame:
        name  score  attempts qualify
3  Katherine   16.5         2     yes
4      James    NaN         3      no
5      Emily    9.0         2      no
6    Michael   20.0         3     yes

In [58]:
# Es 5
import pandas as pd 
import numpy as np

df = pd.DataFrame(exam_data, index=labels)
print('here are some specifi columns:')
print(df[['name', 'score']])

here are some specifi columns:
         name  score
1   Anastasia   12.5
2        Dima    9.0
3   Katherine   16.5
4       James    NaN
5       Emily    9.0
6     Michael   20.0
7     Matthew   14.5
8       Laura    NaN
9       Kevin    8.0
10      Jonas   19.0

In [59]:
# Es  6
import pandas as pd
import numpy as np

df =pd.DataFrame(exam_data, index=labels)
print('Here are some specific columns and rows:')
print(df.iloc[[1,3,5,7], [2,3]])

Here are some specific columns and rows:
   attempts qualify
2         3      no
4         3      no
6         3     yes
8         1      no

In [62]:
# Es 7
import pandas as pd
import numpy as np
df = pd.DataFrame(exam_data, index=labels)
print('Number of attempts in te examination is greater than 2:')
print(df[df['attempts'] > 2])

Number of attempts in te examination is greater than 2:
      name  score  attempts qualify
2     Dima    9.0         3      no
4    James    NaN         3      no
6  Michael   20.0         3     yes

In [66]:
# Es 8
import pandas as pd
import numpy as np

df = pd.DataFrame(exam_data, index=labels)
total_rows=len(df.axes[0])
total_cols=len(df.axes[1])

print('here is the numer of total rows and columns')
print("number of rows:" + str(total_rows))
print("number of columns:" + str(total_cols))

here is the numer of total rows and columns
number of rows:10
number of columns:4

In [72]:
# Es 9
import pandas as pd
import numpy as np

df  = pd.DataFrame(exam_data, index=labels)
print('Rows with missing score value:')
print(df[df['score'].isnull()])

Rows with missing score value
    name  score  attempts qualify
4  James    NaN         3      no
8  Laura    NaN         1      no

In [78]:
# Es 10
import pandas as pd
import numpy as np

df = pd.DataFrame(exam_data, index=labels)
print('Rows with score between 10 and 15(included):')
print(df[df['score'].between(10,15)])

Rows with score between 10 and 15(included):
        name  score  attempts qualify
1  Anastasia   12.5         1     yes
7    Matthew   14.5         1     yes

In [81]:
# Es 11
import pandas as pd
import numpy as np
df  = pd.DataFrame(exam_data, index=labels)
print('Number of attempts less than 2 and score greater than 15:')
print(df[(df['attempts'] < 2) & (df['score'] > 10)])

Number of attempts less than 2 and score greater than 15:
         name  score  attempts qualify
1   Anastasia   12.5         1     yes
7     Matthew   14.5         1     yes
10      Jonas   19.0         1     yes

In [3]:
import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print("\nSum of the examination attempts by the students:")
print(df['attempts'].sum())

Sum of the examination attempts by the students:
19

In [8]:
# Es 13
import pandas as pd
import numpy as np

exam_data = {'name':['Anastasia', 'Diana', 'Katherine', 'James', 'Emily', 'Miceal', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts':[1,3,2, 3, 2, 3, 1, 1, 2, 1],
             'qualify':['yes', 'no','yes','no', 'no', 'yes', 'yes', 'no','no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', ' h', 'i', 'j',]

df = pd.DataFrame(exam_data, index= labels)
print('here is the sum of attempts made by students:')
print(df['attempts'].sum())

here is the sum of attempts made by students:
19

In [10]:
# Es 14

import pandas as pd
import numpy as np

df = pd.DataFrame(exam_data, index= labels)
print("\nMean score for each different student in dataframe:")
print(df['score'].mean())

Mean score for each different student in dataframe:
13.5625

In [14]:
# Es 15
import pandas as pd
import numpy as np
df= pd.DataFrame(exam_data, index=labels)

df.loc['k'] = [1, 'Rick', 'yes', '15.5']
print('New record inserted:')
print(df)
print("\nDeleting the new row:")
df= df.drop('k')
print(df)

New record inserted:
         name score attempts qualify
a   Anastasia  12.5        1     yes
b       Diana   9.0        3      no
c   Katherine  16.5        2     yes
d       James   NaN        3      no
e       Emily   9.0        2      no
f      Miceal  20.0        3     yes
g     Matthew  14.5        1     yes
 h      Laura   NaN        1      no
i       Kevin   8.0        2      no
j       Jonas  19.0        1     yes
k           1  Rick      yes    15.5

Deleting the new row:
         name score attempts qualify
a   Anastasia  12.5        1     yes
b       Diana   9.0        3      no
c   Katherine  16.5        2     yes
d       James   NaN        3      no
e       Emily   9.0        2      no
f      Miceal  20.0        3     yes
g     Matthew  14.5        1     yes
 h      Laura   NaN        1      no
i       Kevin   8.0        2      no
j       Jonas  19.0        1     yes

In [18]:
# Es 16 Write a Pandas program to sort the data frame first by 'name' in descending order, then by 'score' in ascending order.
import pandas as pd
import numpy as np

df = pd.DataFrame(exam_data, index= labels)
print("original rows:")
df.sort_values(by=['name', 'score'],ascending=[False, True])
print('Printing Dataframe in descending order for names and ascending order for scores:')
print(df)

original rows:
Printing Dataframe in descending order for names and ascending order for scores:
         name  score  attempts qualify
a   Anastasia   12.5         1     yes
b       Diana    9.0         3      no
c   Katherine   16.5         2     yes
d       James    NaN         3      no
e       Emily    9.0         2      no
f      Miceal   20.0         3     yes
g     Matthew   14.5         1     yes
 h      Laura    NaN         1      no
i       Kevin    8.0         2      no
j       Jonas   19.0         1     yes

In [27]:
import pandas as pd
import numpy as np

df = pd.DataFrame(exam_data, index=labels)
print('original rows:')
print(df)
print("\nReplacing qualify value with 'yes' and 'no' with  True and False")
df['qualify'] = df['qualify'].map({'yes':True, 'no':False})
print(df)

original rows:
         name  score  attempts qualify
a   Anastasia   12.5         1     yes
b       Diana    9.0         3      no
c   Katherine   16.5         2     yes
d       James    NaN         3      no
e       Emily    9.0         2      no
f      Miceal   20.0         3     yes
g     Matthew   14.5         1     yes
 h      Laura    NaN         1      no
i       Kevin    8.0         2      no
j       Jonas   19.0         1     yes

Replacing qualify value with 'yes' and 'no' with  True and False
         name  score  attempts  qualify
a   Anastasia   12.5         1     True
b       Diana    9.0         3    False
c   Katherine   16.5         2     True
d       James    NaN         3    False
e       Emily    9.0         2    False
f      Miceal   20.0         3     True
g     Matthew   14.5         1     True
 h      Laura    NaN         1    False
i       Kevin    8.0         2    False
j       Jonas   19.0         1     True

In [30]:
# Es 18

import pandas as pd
import numpy as np

df = pd.DataFrame(exam_data, index= labels)
print('orignal rows:')
print(df)
print("\nChanging the name 'James' with the neme 'John' :")
df['name'] = df['name'].replace('James','John')
print(df)

orignal rows:
         name  score  attempts qualify
a   Anastasia   12.5         1     yes
b       Diana    9.0         3      no
c   Katherine   16.5         2     yes
d       James    NaN         3      no
e       Emily    9.0         2      no
f      Miceal   20.0         3     yes
g     Matthew   14.5         1     yes
 h      Laura    NaN         1      no
i       Kevin    8.0         2      no
j       Jonas   19.0         1     yes

Changing the name 'James' with the neme 'John' :
         name  score  attempts qualify
a   Anastasia   12.5         1     yes
b       Diana    9.0         3      no
c   Katherine   16.5         2     yes
d        John    NaN         3      no
e       Emily    9.0         2      no
f      Miceal   20.0         3     yes
g     Matthew   14.5         1     yes
 h      Laura    NaN         1      no
i       Kevin    8.0         2      no
j       Jonas   19.0         1     yes

In [32]:
# Es 19
import pandas as pd
import numpy as np

df = pd.DataFrame(exam_data, index= labels)
print("Original rows:")
print(df)
print("\nDeleting 'attempt' columns from dataframe:")
df.pop('attempts')
print(df)

Original rows:
         name  score  attempts qualify
a   Anastasia   12.5         1     yes
b       Diana    9.0         3      no
c   Katherine   16.5         2     yes
d       James    NaN         3      no
e       Emily    9.0         2      no
f      Miceal   20.0         3     yes
g     Matthew   14.5         1     yes
 h      Laura    NaN         1      no
i       Kevin    8.0         2      no
j       Jonas   19.0         1     yes

Deleting 'attempt' columns from dataframe:
         name  score qualify
a   Anastasia   12.5     yes
b       Diana    9.0      no
c   Katherine   16.5     yes
d       James    NaN      no
e       Emily    9.0      no
f      Miceal   20.0     yes
g     Matthew   14.5     yes
 h      Laura    NaN      no
i       Kevin    8.0      no
j       Jonas   19.0     yes

In [34]:
# Es 20 Inserting a new column in existing dataframe

import pandas as pd
import numpy as np

df = pd.DataFrame(exam_data, index= labels)
print("original rows:")
print(df)
color = ['Red','Blue','Orange','Red','White','White','Blue','Green','Green','Red']
df['color'] = color
print("\nDataframe after inserting new column 'color':")
print(df)

original rows:
         name  score  attempts qualify
a   Anastasia   12.5         1     yes
b       Diana    9.0         3      no
c   Katherine   16.5         2     yes
d       James    NaN         3      no
e       Emily    9.0         2      no
f      Miceal   20.0         3     yes
g     Matthew   14.5         1     yes
 h      Laura    NaN         1      no
i       Kevin    8.0         2      no
j       Jonas   19.0         1     yes

Dataframe after inserting new column 'color':
         name  score  attempts qualify   color
a   Anastasia   12.5         1     yes     Red
b       Diana    9.0         3      no    Blue
c   Katherine   16.5         2     yes  Orange
d       James    NaN         3      no     Red
e       Emily    9.0         2      no   White
f      Miceal   20.0         3     yes   White
g     Matthew   14.5         1     yes    Blue
 h      Laura    NaN         1      no   Green
i       Kevin    8.0         2      no   Green
j       Jonas   19.0         1     yes     Red